<section>
    <div class="contenedor-foto" style="background-image: url('./assets/img/foto_rodrigo_albernaz.jpg');"></div>
    <div class="contenedor-introduccion">
        <article class="contenedor-titulo">
            <h1>
                <span>Diputado</span>
                Rodrigo Albernaz
            </h1>
            <p>Salto, Uruguay</p>
            <a [routerLink]="['/propuestas']"> 
                <i class="fas fa-plus"></i>
                Propuestas
            </a>
        </article>
        <article class="contenedor-propuestas">
            <div class="contenedor-propuestas-uno">
                <h4>Transparencia</h4>
                <p>Desde el equipo de la diputación seremos firmes para evitar la corrupción en cualquier repartición del Estado.</p>
                <p>Haremos hincapié en la utilización de recursos humanos y tecnológicos para darle combate a estas situaciones.</p>
                <p>Impulsaremos constantes auditorías en todos los organismos públicos para conocer a fondo cuál es la situación real en cada repartición del Estado.</p>
            </div>
            <div class="contenedor-propuestas-dos">
                <h4>Salud</h4>
                <p>Es necesario mantener un servicio adecuado de asistencia a la población que se enmarque en el sistema del FONASA, corrigiendo los aspectos que permitan elevar el nivel de calidad de la atención.</p>
                <p>Eliminar los grupos de interés empresarial que se han enriquecido y lucran dentro del área de salud, en un grado tal que insumen fondos que se podrían usar para mejorar la calidad de servicio y acceder a una oferta de especialistas y profesionales de la salud acorde a la demanda de la población.</p>
            </div>            
        </article>
    </div>
</section>
