<div class="contenedor-banner-palacio" style="background-image: url('./assets/img/palacio-legislativo.jpg');">
    <article class="container ">
        <div class="container-quien-soy">

            <h3>¿Quien Soy?</h3>
            <p>Soy un ciudadano oriental y salteño preocupado y comprometido con el futuro político del País.</p>
            <p>Esoy convencido de la importancia de recuperar nuestros valores éticos, morales, culturales, educativos,
                sociales, de honradez, de seguridad, que en forma lenta pero sin tregua con los años, hemos ido
                perdiendo.
            </p>
            <p>Para mi “la palabra” tiene valor y si la doy, me comprometo. Por esa razón, la mentira nos subleva… </p>
            <p>La familia es la base de la sociedad, formadora inicial de valores del ser humano.</p>
        </div>
    </article>
</div>