<div class="contenedor-redes">
    <div class="contenedor-redes-sociales">
        <div class="contenedor-twitter">
            <div class="titulo-redes">
                <h3>Twitter</h3>
                <a class="twitter-timeline" data-theme="dark" data-height="500" theme='dark'
                    href="https://twitter.com/CarlosSanchezBi?ref_src=twsrc%5Etfw">Tweets by CarlosSanchezBi</a>
            </div>
        </div>
        <div class="contenedor-facebook">
            <div class="titulo-redes">
                <h3>Facebook</h3>
                <iframe
                    src="https://www.facebook.com/plugins/page.php?href=https%3A%2F%2Fwww.facebook.com%2Fbookartdesignuy%2F&tabs=timeline&width=340&height=500&small_header=false&adapt_container_width=true&hide_cover=false&show_facepile=true&appId=1422063171290935"
                    width="340" height="500" style="border:none;overflow:hidden;" scrolling="no" frameborder="0"
                    allowTransparency="true" allow="encrypted-media"></iframe>
            </div>
        </div>
        <div class="contenedor-instagram">
            <div class="titulo-redes">
                <h3>Instagram</h3>
                <!-- SnapWidget -->
                <iframe src="https://snapwidget.com/embed/818310" class="snapwidget-widget" allowtransparency="true"
                    frameborder="0" scrolling="no"
                    style="border:none; overflow:hidden;   height:500px"></iframe>
            </div>
        </div>
    </div>
</div>