<div class="contenedor-redes">
  <div class="contenedor-redes-sociales">
    <div class="contenedor-twitter">
      <div class="titulo-redes">
        <h3>Twitter</h3>
        <a
          class="twitter-timeline"
          data-lang="es"
          data-height="500"
          data-theme="dark"
          href="https://twitter.com/RodrigoAlberna3?ref_src=twsrc%5Etfw"
          >Tweets by RodrigoAlberna3</a
        >
      </div>
    </div>
    <div class="contenedor-facebook">
      <div class="titulo-redes">
        <h3>Facebook</h3>
        <iframe
          src="https://www.facebook.com/plugins/page.php?href=https%3A%2F%2Fwww.facebook.com%2FAlbernazDiputado%2F&tabs=timeline&width=340&height=500&small_header=false&adapt_container_width=true&hide_cover=false&show_facepile=true&appId=1422063171290935"
          width="340"
          height="500"
          style="border: none; overflow: hidden;"
          scrolling="no"
          frameborder="0"
          allowTransparency="true"
          allow="encrypted-media"
        ></iframe>
      </div>
    </div>
    <div class="contenedor-instagram">
      <div class="titulo-redes">
        <h3>Instagram</h3>
        <div class="contenedor-instagram-fotos">
          <div class="instagram-fotos" *ngFor="let image of instagram">
            <a
              href="https://www.instagram.com/p/{{ image.node.shortcode }}/"
              target="_blank"
            >
              <img
                src="{{ image.node.display_url }}"
                alt="{{ image.node.accessibility_caption }}"
              />
            </a>
            <div class="container-heart-like">
              <i class="fas fa-heart"></i>
              <p>{{ image.node.edge_liked_by.count }}</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
