<nav class="navbar navbar-expand-lg fixed-top">
    <div class="container">
        <a class="navbar-brand bold" [routerLink]="['/']">Rodrigo Albernaz <span>Diputado</span> </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup"
            aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
            <i class="fas fa-bars"></i>
        </button>
        <div class="collapse navbar-collapse justify-content-end" id="navbarNavAltMarkup">
            <div class="navbar-nav">
                <a class="nav-item nav-link" [routerLink]="['/propuestas']" routerLinkActive="active" >Propuestas</a>
                <a class="nav-item nav-link" [routerLink]="['/partido']" routerLinkActive="active">Partido</a>
                <a class="nav-item nav-link" [routerLink]="['/agendas-y-medios']" routerLinkActive="active">Agenda y Medios</a>
                <a class="nav-item nav-link" [routerLink]="['/contacto']" routerLinkActive="active">Contacto</a>
            </div>
        </div>
    </div>
</nav>