.contenedor-banner-medios {
    width: 100%;
    height: 100vh;
    background: #a2485b;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    
    .banner-medios {
        width: 80%;
        margin: auto;

        h3 {
            text-align: center;
            font-size: 2.2em;
            text-transform: uppercase;
            font-weight: bold;
            color: #f7ba1e;
            margin-bottom: 20px;
        }
        img,
        video{
            max-height: 250px;
            object-fit: cover;
        }
    }
}
/**
 * Simple fade transition,
 */
.mfp-fade.mfp-bg {
	opacity: 0;
	-webkit-transition: all 0.15s ease-out; 
	-moz-transition: all 0.15s ease-out; 
	transition: all 0.15s ease-out;
}
.mfp-fade.mfp-bg.mfp-ready {
	opacity: 0.8;
}
.mfp-fade.mfp-bg.mfp-removing {
	opacity: 0;
}

.mfp-fade.mfp-wrap .mfp-content {
	opacity: 0;
	-webkit-transition: all 0.15s ease-out; 
	-moz-transition: all 0.15s ease-out; 
	transition: all 0.15s ease-out;
}
.mfp-fade.mfp-wrap.mfp-ready .mfp-content {
	opacity: 1;
}
.mfp-fade.mfp-wrap.mfp-removing .mfp-content {
	opacity: 0;
}