<div class="contenedor-banner-medios">
    <div class="banner-medios">
        <h3>Medios</h3>
        <owl-carousel-o [options]="customOptions">
            <ng-template carouselSlide>
                    <a class="popup-youtube" href="http://www.youtube.com/watch?v=0O2aH4XLbto">Open YouTube video </a><br>
            </ng-template>
            <ng-template carouselSlide>
                <a class="popup-youtube" href="http://www.youtube.com/watch?v=0O2aH4XLbto">Open YouTube video</a><br>
            </ng-template>
            <ng-template carouselSlide>
                <a class="popup-youtube" href="http://www.youtube.com/watch?v=0O2aH4XLbto">Open YouTube video</a><br>
            </ng-template>
        </owl-carousel-o>

    </div>

</div>