<div class="contenedor-banner-medios">
    <div class="banner-medios">
        <h3>Medios</h3>
        <owl-carousel-o [options]="customOptions">
        <ng-template carouselSlide>
            <img src="https://i.picsum.photos/id/1015/200/300.jpg" alt="">
        </ng-template>  
        <ng-template carouselSlide>
            <img src="https://i.picsum.photos/id/1015/200/300.jpg" alt="">
        </ng-template>  
        <ng-template carouselSlide>
            <img src="https://i.picsum.photos/id/1015/200/300.jpg" alt="">
        </ng-template>  
        <ng-template carouselSlide>
            <img src="https://i.picsum.photos/id/1015/200/300.jpg" alt="">
        </ng-template>  
        <ng-template carouselSlide>
            <img src="https://i.picsum.photos/id/1015/200/300.jpg" alt="">
        </ng-template>  
      </owl-carousel-o>
    
    </div>
    
</div>
