footer {
    width: 100%;
    height: 25vh;
    display: flex;
    flex-wrap: wrap;
    background: #f7ba1e;

    .contenedor-pie-uno,
    .contenedor-pie-dos {
        width: 50%;
        height: 100%;
    }

    .contenedor-pie-uno {
        display: flex;
        justify-content: center;
        align-items: center;

        h3 {
            text-transform: uppercase;
            font-size: 2.5em;
            font-weight: bold;
            color: #a2485b;
        }
    }

    .contenedor-pie-dos {
        display: flex;
        justify-content: center;
        align-items: center;

        a {
            display: flex;
            justify-content: center;
            align-items: center;
            width: 50px;
            height: 50px;
            border: 1px solid #a2485b;
            margin-left: 20px;
            border-radius: 50%;
            transition: all 0.5s;

            &:hover {
                transform: scale(1.1);
            }
            svg {
                font-size: 1.5em;
                color: #a2485b;
            }
        }
    }
}
